.posts { margin:50px auto 0 auto; }
.posts .post-article { position:relative; margin-bottom:30px; padding-bottom:30px; border-bottom:1px solid #ededed; }
.posts .post-article:after { clear:both; visibility:hidden; display:block; content:""; }
.posts .post-image { position:absolute; }
.posts h2 { font-size:24px; padding-bottom:14px; height:46px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.posts h2 a { color:#434a53; }
.posts h2 a:hover { color:#000; }
.posts .post-subject { vertical-align:middle; }
.posts .category { display:inline-block; vertical-align:middle; width:56px; height:32px; box-sizing:border-box; padding:6px 12px; border-radius:6px; font-size:16px; margin-right:3px; color:#fff; }
.posts .category-1 { background-color:#a20f16; }
.posts .category-2 { background-color:#014f99; }
.posts .category-3 { background-color:#ff8a00; }
.posts .category-4 { background-color:#037513; }
.posts .post-content { white-space:normal; overflow:hidden; font-size:14px; margin-bottom:20px; }
.posts .post-content a { display:-webkit-box; -webkit-box-orient:vertical; color:#666; }
.posts .post-content a:hover { color:#000; }
.posts .post-etc:after { display:block; clear:both; visibility:hidden; content:""; }
.posts .post-etc li { float:left; color:#b5b5b5; }
.posts .post-etc li:nth-child(n+2) { margin-left:20px; }

.pager { text-align:center; }
.pager ul { display:inline-block; }
.pager:after { display:block; clear:both; visibility:hidden; content:""; }
.pager li { float:left; width:30px; height:30px; border:1px solid #bbb; border-radius:50%; line-height:27px; text-align:center; font-size:14px; margin:0 3px; }
.pager li a { color:#bbb; }
.pager li.active { background-color:#bbb; }
.pager li.active a { color:#fff; }


/* mobile */
@media (max-width:767px) {
	.posts { width:100%; }
	.posts .post-container { width:100%; }
	.posts .post-content { padding-left:120px; margin-bottom:30px; }
	.posts .post-content a { -webkit-line-clamp:3; }
	.posts .post-image { width:120px; left:0; top:46px; }
	.posts .post-image img { width:100px; height:70px; }
}

/* pc */
@media (min-width:768px) {
	.posts { width:750px; }
	.posts .post-container { width:-moz-calc(100% - 200px); width:-webkit-calc(100% - 200px); width:calc(100% - 200px); }
	.posts .post-content a { -webkit-line-clamp:2; }
	.posts .post-image { width:200px; padding-left:30px; right:0; top:0; }
	.posts .post-image img { width:170px; height:120px; }
}

/* md~ */
@media (min-width:992px) {
	.posts { width:900px; }
}

/* sm~md */
@media (min-width:768px) and (max-width:991px) {
	.posts { width:750px; }
*/

/* ~sm */
@media (max-width:767px) {
	.posts { width:100%; }
*/