/* layout */
.logo { height:100%; }
.nav  > ul > li > a { display:block; width:100%; height:100%; }
.dropdown li a { display:block; width:100%; height:100%; }
.mobile-menu-mask { background-color:rgba(0,0,0,0.4); width:100%; height:100%; position:fixed; z-index:9998; top:0; left:0; cursor:pointer; }
.header { position:fixed; z-index:9999; top:0; left:0; background-color:rgba(255,255,255,0.8); width:100%; }
.header-fixed { -webkit-animation:navmove .5s;-moz-animation:navmove .5s;animation:navmove .5s; border-bottom:1px solid #ddd; }



/* content */
.section-header { font-size:24px; }

.banner ul li { background-position:center; background-repeat:no-repeat; background-size:cover; position:relative; }
.banner ul li:before { position:absolute; width:100%; height:100%; background:linear-gradient(to right, rgba(48, 123, 198, 0.9) , rgba(48, 123, 198, 0.2)); content:""; }
.sub-banner ul li:before { background:rgba(48, 123, 198, 0.8); }
.banner-content { position:absolute; }
.banner-subject { font-weight:bold; color:#fff; }
.banner-description { color:#fff; }
.banner-button button { width:285px; height:55px; border:0; background-color:#014f99; border-radius:10px; color:#fff; font-size:20px; }
.banner .bx-wrapper { border:0; }
.banner .bx-wrapper .bx-pager { position:absolute; width:100%; bottom:20px; }
.banner .bx-wrapper .bx-pager.bx-default-pager a { background:#fff; width:14px; height:14px; border-radius:7px; }
.banner .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover { background:#00a0e9; }



/* footer */
.footer { margin-top:80px; border-top:1px solid #ddd; }
.footer-menu { border-bottom:1px solid #efefef; }
.footer-menu ul { font-size:0; text-align:center; }
.footer-menu ul li { font-size:12px; padding:12px 10px; font-weight:bold; }
.footer-menu ul li a { color:#333; }
.footer-logo { text-align:center; margin-top:15px; }
.footer-copyright { text-align:center; font-size:12px; margin:10px 0; color:#555; }
.footer-copyright strong { font-weight:bold; }



/* form */
.classic-form input[type=text], .classic-form input[type=number], .classic-form input[type=password], .classic-form input[type=date], .classic-form input[type=email] { display:block; width:100%; height:40px; box-sizing:border-box; border:0; border-bottom:1px solid #ddd; padding:4px 6px; font-size:14px; margin-top:5px; }
.classic-form input[type=number]::-webkit-inner-spin-button, .classic-form input[type=number]::-webkit-outer-spin-button{ -webkit-appearance: none; margin:0; }
.classic-form input[type=checkbox] { margin-top:2px; }
.classic-form label { font-size:14px; display:block; width:100%; }
.classic-form label.inline { display:inline; }
.classic-form label.required:after { display:inline; content:"*"; }
.classic-form textarea { display:block; width:100%; height:auto; border:1px solid #ddd; border-radius:4px; }
.classic-form .form-box { margin-bottom:30px; }
.classic-form .form-bordered { border:1px solid #ddd; }
.classic-form .form-header { background-color:#f8f8f8; padding:10px 20px; }
.classic-form .form-content { padding:10px 20px; }
.classic-form .form-bordered .form-header { border-bottom:1px solid #ddd; }



/* mobile */
@media (max-width:767px) {
	/* header */
	.header { height:90px; }
	.logo { padding:20px; }
	.mobile-menu { position:absolute; top:20px; right:20px; z-index:9999; }
	.mobile-menu button { width:50px; height:50px; font-size:24px; background-color:#000; border:0; color:#fff; }
	.nav { position:fixed; top:0; left:-278px; width:auto; min-width:278px; z-index:9999; transition:all .5s; background-color:rgba(255,255,255,0.95); height:100%; }
	.nav.active { left:0; }
	.nav .mobile-menu-top { padding:14px 0; text-align:center; color:#fff; background-color:#1D4252; }
	.nav > ul > ul { height:100%; background-color:rgba(0,0,0,0.05); }
	.nav > ul > li { border-bottom:1px solid #ddd; }
	.nav > ul > li > a { padding:12px 16px; }
	.nav > ul > li > a:hover { background-color:#f4f4f4; }
	.dropdown li { border-top:1px solid #ddd; }
	.dropdown li a { padding:12px 16px 12px 30px; }
	.dropdown li a:hover { background-color:#f4f4f4; }



	/* content */
	.content { margin-top:90px; }
	.banner ul li { height:300px; }
	.banner .banner-content { top:40px; margin-left:-15px; width:100%; }
	.banner .banner-subject { font-size:36px; font-weight:bold; color:#fff; padding-left:30px; }
	.banner .banner-description { margin-top:20px; font-size:18px; color:#fff; padding-left:30px; }
	.banner .banner-button { margin-top:30px; text-align:center; }
	.sub-banner .banner-content { top:70px; margin-left:-15px; width:100%; }
	.sub-banner .banner-subject { font-size:48px; font-weight:bold; color:#fff; padding-left:30px; }
	.sub-banner .banner-description { margin-top:20px; font-size:24px; color:#fff; padding-left:30px; }
	.sub-banner .banner-button { margin-top:30px; text-align:center; }

	

	/* footer */
	.footer-menu ul li { display:block; border-bottom:1px solid #efefef; }
	.footer-menu ul li:last-child { display:block; border-bottom:0; }
}



/* pc */
@media (min-width:768px) {
	/* header */
	.header { height:106px; }
	.logo { padding:10px; }
	.nav { float:right; height:100%; padding:24px 0; }
	.nav > ul > li { float:left; margin-left:5px; font-size:20px; height:100%; border-radius:8px; position:relative; }
	.nav > ul > li > a { padding:16px 20px; }
	.nav > ul > li:hover > a { color:#68C2F6; }
	.dropdown { display:none; width:100%; }
	.dropdown li { width:120px; height:50px; background-color:#333; border-bottom:1px solid #454545; }
	.dropdown li a { color:#fff; font-size:14px; padding:13px; }
	.dropdown li:hover a { color:#68C2F6; }
	.nav > ul > li:hover .dropdown { display:block; position:absolute; top:100%; left:-10px; z-index:9999; }



	/* content */
	.content { margin-top:106px; }
	.banner ul li { height:570px; }
	.banner .banner-content { top:140px; }
	.banner .banner-subject { font-size:48px; font-weight:bold; color:#fff; }
	.banner .banner-description { margin-top:30px; font-size:24px; color:#fff; }
	.banner .banner-button { margin-top:65px; }
	.banner .banner-icon { position:absolute; top:60px; right:120px; font-size:300px; color:#fff; }
	.sub-banner ul li { height:300px; }
	.sub-banner .banner-content { top:70px; margin-left:-15px; width:100%; }
	.sub-banner .banner-subject { font-size:48px; font-weight:bold; color:#fff; padding-left:30px; }
	.sub-banner .banner-description { margin-top:20px; font-size:24px; color:#fff; padding-left:30px; }
	.sub-banner .banner-button { margin-top:30px; text-align:center; }



	/* footer */
	.footer-menu ul li { display:inline-block; }
}



/* animation */
@-webkit-keyframes navmove {
	from {margin-top:-80px}
	to {margin-top:0}
}
@-moz-keyframes navmove {
	from {margin-top:-80px}
	to {margin-top:0}
}
@keyframes navmove {
	from {margin-top:-80px}
	to {margin-top:0}
}