@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

html { overflow-y:scroll; }
body { margin:0; padding:0; font-size:0.85em; font-family: 'Noto Sans KR', sans-serif; background:#fff; }
h1, h2, h3, h4, h5, h6, form, fieldset, img { margin:0; padding:0; border:0; }
h1, h2, h3, h4, h5, h6 { font-size:1em; font-family: 'Noto Sans KR', sans-serif; }
ul { margin:0; padding:0; list-style:none; }
label, input, button, select, img { vertical-align:middle; font-size:1em; }
input, button { margin:0; padding:0; font-family: 'Noto Sans KR', sans-serif; font-size:1em; }
button { cursor:pointer; }
textarea, select { font-family: 'Noto Sans KR', sans-serif; font-size:1em; }
select { margin:0; }
p { margin:0; padding:0; word-break:break-all; }
hr { display:none; }
pre { overflow-x:scroll; font-size:1em; }
a { color:#000; text-decoration:none; }
*, :after, :before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
input[type=text],input[type=password], textarea { -webkit-transition: all 0.30s ease-in-out; -moz-transition: all 0.30s ease-in-out; -ms-transition: all 0.30s ease-in-out; -o-transition: all 0.30s ease-in-out; outline: none; }
input[type=text]:focus,input[type=password]:focus,  textarea:focus,select:focus { -webkit-box-shadow:  0 0 5px #9ed4ff; -moz-box-shadow:  0 0 5px #9ed4ff; box-shadow: 0 0 5px #9ed4ff; border: 1px solid #558ab7 !important; }

.container { position:relative; padding-left:15px; padding-right:15px; margin-left:auto; margin-right:auto; }
.row { margin-left:-15px; margin-right:-15px; }
.row:after, .float-box:after { display:block; clear:both; visibility:hidden; content:""; }
.left { float:left; }
.right { float:right; }

.btn { width:auto; padding:10px 20px; border-radius:6px; font-size:14px; }
.btn-blue { background-color:#00a0e9; color:#fff; border:1px solid #ddd; }

/* x-small (xs) */
@media (max-width:767px) {
	.container { width:100%; }
	.hidden-xs { display:none; }
	.visible-sm { display:none; }
	.visible-md { display:none; }
	.visible-lg { display:none; }
	.col-xs-1 { height:100%; width:8.33333333%; }
	.col-xs-2 { height:100%; width:16.66666667%; }
	.col-xs-3 { height:100%; width:25%; }
	.col-xs-4 { height:100%; width:33.33333333%; }
	.col-xs-5 { height:100%; width:41.66666667%; }
	.col-xs-6 { height:100%; width:50%; }
	.col-xs-7 { height:100%; width:58.33333333%; }
	.col-xs-8 { height:100%; width:66.66666667%; }
	.col-xs-9 { height:100%; width:75%; }
	.col-xs-10 { height:100%; width:83.33333333%; }
	.col-xs-11 { height:100%; width:91.66666667%; }
	.col-xs-12 { height:100%; width:100%; }
	.col-xs-1:not(.col-right) { float:left; }
	.col-xs-2:not(.col-right) { float:left; }
	.col-xs-3:not(.col-right) { float:left; }
	.col-xs-4:not(.col-right) { float:left; }
	.col-xs-5:not(.col-right) { float:left; }
	.col-xs-6:not(.col-right) { float:left; }
	.col-xs-7:not(.col-right) { float:left; }
	.col-xs-8:not(.col-right) { float:left; }
	.col-xs-9:not(.col-right) { float:left; }
	.col-xs-10:not(.col-right) { float:left; }
	.col-xs-11:not(.col-right) { float:left; }
	.col-xs-12:not(.col-right) { float:left; }
	.col-xs-1.col-right { float:right; }
	.col-xs-2.col-right { float:right; }
	.col-xs-3.col-right { float:right; }
	.col-xs-4.col-right { float:right; }
	.col-xs-5.col-right { float:right; }
	.col-xs-6.col-right { float:right; }
	.col-xs-7.col-right { float:right; }
	.col-xs-8.col-right { float:right; }
	.col-xs-9.col-right { float:right; }
	.col-xs-10.col-right { float:right; }
	.col-xs-11.col-right { float:right; }
	.col-xs-12.col-right { float:right; }
}
/* small (sm) */
@media (min-width:768px) and (max-width:991px) {
	.container { width:720px; }
	.hidden-sm { display:none; }
	.visible-xs { display:none; }
	.visible-md { display:none; }
	.visible-lg { display:none; }
	.col-xs-1 { height:100%; width:8.33333333%; }
	.col-xs-2 { height:100%; width:16.66666667%; }
	.col-xs-3 { height:100%; width:25%; }
	.col-xs-4 { height:100%; width:33.33333333%; }
	.col-xs-5 { height:100%; width:41.66666667%; }
	.col-xs-6 { height:100%; width:50%; }
	.col-xs-7 { height:100%; width:58.33333333%; }
	.col-xs-8 { height:100%; width:66.66666667%; }
	.col-xs-9 { height:100%; width:75%; }
	.col-xs-10 { height:100%; width:83.33333333%; }
	.col-xs-11 { height:100%; width:91.66666667%; }
	.col-xs-12 { height:100%; width:100%; }
	.col-sm-1 { height:100%; width:8.33333333%; }
	.col-sm-2 { height:100%; width:16.66666667%; }
	.col-sm-3 { height:100%; width:25%; }
	.col-sm-4 { height:100%; width:33.33333333%; }
	.col-sm-5 { height:100%; width:41.66666667%; }
	.col-sm-6 { height:100%; width:50%; }
	.col-sm-7 { height:100%; width:58.33333333%; }
	.col-sm-8 { height:100%; width:66.66666667%; }
	.col-sm-9 { height:100%; width:75%; }
	.col-sm-10 { height:100%; width:83.33333333%; }
	.col-sm-11 { height:100%; width:91.66666667%; }
	.col-sm-12 { height:100%; width:100%; }
	.col-xs-1:not(.col-right) { float:left; }
	.col-xs-2:not(.col-right) { float:left; }
	.col-xs-3:not(.col-right) { float:left; }
	.col-xs-4:not(.col-right) { float:left; }
	.col-xs-5:not(.col-right) { float:left; }
	.col-xs-6:not(.col-right) { float:left; }
	.col-xs-7:not(.col-right) { float:left; }
	.col-xs-8:not(.col-right) { float:left; }
	.col-xs-9:not(.col-right) { float:left; }
	.col-xs-10:not(.col-right) { float:left; }
	.col-xs-11:not(.col-right) { float:left; }
	.col-xs-12:not(.col-right) { float:left; }
	.col-sm-1:not(.col-right) { float:left; }
	.col-sm-2:not(.col-right) { float:left; }
	.col-sm-3:not(.col-right) { float:left; }
	.col-sm-4:not(.col-right) { float:left; }
	.col-sm-5:not(.col-right) { float:left; }
	.col-sm-6:not(.col-right) { float:left; }
	.col-sm-7:not(.col-right) { float:left; }
	.col-sm-8:not(.col-right) { float:left; }
	.col-sm-9:not(.col-right) { float:left; }
	.col-sm-10:not(.col-right) { float:left; }
	.col-sm-11:not(.col-right) { float:left; }
	.col-sm-12:not(.col-right) { float:left; }
	.col-xs-1.col-right { float:right; }
	.col-xs-2.col-right { float:right; }
	.col-xs-3.col-right { float:right; }
	.col-xs-4.col-right { float:right; }
	.col-xs-5.col-right { float:right; }
	.col-xs-6.col-right { float:right; }
	.col-xs-7.col-right { float:right; }
	.col-xs-8.col-right { float:right; }
	.col-xs-9.col-right { float:right; }
	.col-xs-10.col-right { float:right; }
	.col-xs-11.col-right { float:right; }
	.col-xs-12.col-right { float:right; }
	.col-sm-1.col-right { float:right; }
	.col-sm-2.col-right { float:right; }
	.col-sm-3.col-right { float:right; }
	.col-sm-4.col-right { float:right; }
	.col-sm-5.col-right { float:right; }
	.col-sm-6.col-right { float:right; }
	.col-sm-7.col-right { float:right; }
	.col-sm-8.col-right { float:right; }
	.col-sm-9.col-right { float:right; }
	.col-sm-10.col-right { float:right; }
	.col-sm-11.col-right { float:right; }
	.col-sm-12.col-right { float:right; }
}
/* medium (md) */
@media (min-width:992px) and (max-width:1199px) {
	.container { width:940px; }
	.hidden-md { display:none; }
	.visible-xs { display:none; }
	.visible-sm { display:none; }
	.visible-lg { display:none; }
	.col-xs-1 { height:100%; width:8.33333333%; }
	.col-xs-2 { height:100%; width:16.66666667%; }
	.col-xs-3 { height:100%; width:25%; }
	.col-xs-4 { height:100%; width:33.33333333%; }
	.col-xs-5 { height:100%; width:41.66666667%; }
	.col-xs-6 { height:100%; width:50%; }
	.col-xs-7 { height:100%; width:58.33333333%; }
	.col-xs-8 { height:100%; width:66.66666667%; }
	.col-xs-9 { height:100%; width:75%; }
	.col-xs-10 { height:100%; width:83.33333333%; }
	.col-xs-11 { height:100%; width:91.66666667%; }
	.col-xs-12 { height:100%; width:100%; }
	.col-sm-1 { height:100%; width:8.33333333%; }
	.col-sm-2 { height:100%; width:16.66666667%; }
	.col-sm-3 { height:100%; width:25%; }
	.col-sm-4 { height:100%; width:33.33333333%; }
	.col-sm-5 { height:100%; width:41.66666667%; }
	.col-sm-6 { height:100%; width:50%; }
	.col-sm-7 { height:100%; width:58.33333333%; }
	.col-sm-8 { height:100%; width:66.66666667%; }
	.col-sm-9 { height:100%; width:75%; }
	.col-sm-10 { height:100%; width:83.33333333%; }
	.col-sm-11 { height:100%; width:91.66666667%; }
	.col-sm-12 { height:100%; width:100%; }
	.col-md-1 { height:100%; width:8.33333333%; }
	.col-md-2 { height:100%; width:16.66666667%; }
	.col-md-3 { height:100%; width:25%; }
	.col-md-4 { height:100%; width:33.33333333%; }
	.col-md-5 { height:100%; width:41.66666667%; }
	.col-md-6 { height:100%; width:50%; }
	.col-md-7 { height:100%; width:58.33333333%; }
	.col-md-8 { height:100%; width:66.66666667%; }
	.col-md-9 { height:100%; width:75%; }
	.col-md-10 { height:100%; width:83.33333333%; }
	.col-md-11 { height:100%; width:91.66666667%; }
	.col-md-12 { height:100%; width:100%; }
	.col-xs-1:not(.col-right) { float:left; }
	.col-xs-2:not(.col-right) { float:left; }
	.col-xs-3:not(.col-right) { float:left; }
	.col-xs-4:not(.col-right) { float:left; }
	.col-xs-5:not(.col-right) { float:left; }
	.col-xs-6:not(.col-right) { float:left; }
	.col-xs-7:not(.col-right) { float:left; }
	.col-xs-8:not(.col-right) { float:left; }
	.col-xs-9:not(.col-right) { float:left; }
	.col-xs-10:not(.col-right) { float:left; }
	.col-xs-11:not(.col-right) { float:left; }
	.col-xs-12:not(.col-right) { float:left; }
	.col-sm-1:not(.col-right) { float:left; }
	.col-sm-2:not(.col-right) { float:left; }
	.col-sm-3:not(.col-right) { float:left; }
	.col-sm-4:not(.col-right) { float:left; }
	.col-sm-5:not(.col-right) { float:left; }
	.col-sm-6:not(.col-right) { float:left; }
	.col-sm-7:not(.col-right) { float:left; }
	.col-sm-8:not(.col-right) { float:left; }
	.col-sm-9:not(.col-right) { float:left; }
	.col-sm-10:not(.col-right) { float:left; }
	.col-sm-11:not(.col-right) { float:left; }
	.col-sm-12:not(.col-right) { float:left; }
	.col-md-1:not(.col-right) { float:left; }
	.col-md-2:not(.col-right) { float:left; }
	.col-md-3:not(.col-right) { float:left; }
	.col-md-4:not(.col-right) { float:left; }
	.col-md-5:not(.col-right) { float:left; }
	.col-md-6:not(.col-right) { float:left; }
	.col-md-7:not(.col-right) { float:left; }
	.col-md-8:not(.col-right) { float:left; }
	.col-md-9:not(.col-right) { float:left; }
	.col-md-10:not(.col-right) { float:left; }
	.col-md-11:not(.col-right) { float:left; }
	.col-md-12:not(.col-right) { float:left; }
	.col-xs-1.col-right { float:right; }
	.col-xs-2.col-right { float:right; }
	.col-xs-3.col-right { float:right; }
	.col-xs-4.col-right { float:right; }
	.col-xs-5.col-right { float:right; }
	.col-xs-6.col-right { float:right; }
	.col-xs-7.col-right { float:right; }
	.col-xs-8.col-right { float:right; }
	.col-xs-9.col-right { float:right; }
	.col-xs-10.col-right { float:right; }
	.col-xs-11.col-right { float:right; }
	.col-xs-12.col-right { float:right; }
	.col-sm-1.col-right { float:right; }
	.col-sm-2.col-right { float:right; }
	.col-sm-3.col-right { float:right; }
	.col-sm-4.col-right { float:right; }
	.col-sm-5.col-right { float:right; }
	.col-sm-6.col-right { float:right; }
	.col-sm-7.col-right { float:right; }
	.col-sm-8.col-right { float:right; }
	.col-sm-9.col-right { float:right; }
	.col-sm-10.col-right { float:right; }
	.col-sm-11.col-right { float:right; }
	.col-sm-12.col-right { float:right; }
	.col-md-1.col-right { float:right; }
	.col-md-2.col-right { float:right; }
	.col-md-3.col-right { float:right; }
	.col-md-4.col-right { float:right; }
	.col-md-5.col-right { float:right; }
	.col-md-6.col-right { float:right; }
	.col-md-7.col-right { float:right; }
	.col-md-8.col-right { float:right; }
	.col-md-9.col-right { float:right; }
	.col-md-10.col-right { float:right; }
	.col-md-11.col-right { float:right; }
	.col-md-12.col-right { float:right; }
}
/* large (lg) */
@media (min-width:1200px) {
	.container { width:1120px; }
	.hidden-md { display:none; }
	.visible-xs { display:none; }
	.visible-sm { display:none; }
	.visible-md { display:none; }
	.col-xs-1 { height:100%; width:8.33333333%; }
	.col-xs-2 { height:100%; width:16.66666667%; }
	.col-xs-3 { height:100%; width:25%; }
	.col-xs-4 { height:100%; width:33.33333333%; }
	.col-xs-5 { height:100%; width:41.66666667%; }
	.col-xs-6 { height:100%; width:50%; }
	.col-xs-7 { height:100%; width:58.33333333%; }
	.col-xs-8 { height:100%; width:66.66666667%; }
	.col-xs-9 { height:100%; width:75%; }
	.col-xs-10 { height:100%; width:83.33333333%; }
	.col-xs-11 { height:100%; width:91.66666667%; }
	.col-xs-12 { height:100%; width:100%; }
	.col-sm-1 { height:100%; width:8.33333333%; }
	.col-sm-2 { height:100%; width:16.66666667%; }
	.col-sm-3 { height:100%; width:25%; }
	.col-sm-4 { height:100%; width:33.33333333%; }
	.col-sm-5 { height:100%; width:41.66666667%; }
	.col-sm-6 { height:100%; width:50%; }
	.col-sm-7 { height:100%; width:58.33333333%; }
	.col-sm-8 { height:100%; width:66.66666667%; }
	.col-sm-9 { height:100%; width:75%; }
	.col-sm-10 { height:100%; width:83.33333333%; }
	.col-sm-11 { height:100%; width:91.66666667%; }
	.col-sm-12 { height:100%; width:100%; }
	.col-md-1 { height:100%; width:8.33333333%; }
	.col-md-2 { height:100%; width:16.66666667%; }
	.col-md-3 { height:100%; width:25%; }
	.col-md-4 { height:100%; width:33.33333333%; }
	.col-md-5 { height:100%; width:41.66666667%; }
	.col-md-6 { height:100%; width:50%; }
	.col-md-7 { height:100%; width:58.33333333%; }
	.col-md-8 { height:100%; width:66.66666667%; }
	.col-md-9 { height:100%; width:75%; }
	.col-md-10 { height:100%; width:83.33333333%; }
	.col-md-11 { height:100%; width:91.66666667%; }
	.col-md-12 { height:100%; width:100%; }
	.col-lg-1 { height:100%; width:8.33333333%; }
	.col-lg-2 { height:100%; width:16.66666667%; }
	.col-lg-3 { height:100%; width:25%; }
	.col-lg-4 { height:100%; width:33.33333333%; }
	.col-lg-5 { height:100%; width:41.66666667%; }
	.col-lg-6 { height:100%; width:50%; }
	.col-lg-7 { height:100%; width:58.33333333%; }
	.col-lg-8 { height:100%; width:66.66666667%; }
	.col-lg-9 { height:100%; width:75%; }
	.col-lg-10 { height:100%; width:83.33333333%; }
	.col-lg-11 { height:100%; width:91.66666667%; }
	.col-lg-12 { height:100%; width:100%; }
	.col-xs-1:not(.col-right) { float:left; }
	.col-xs-2:not(.col-right) { float:left; }
	.col-xs-3:not(.col-right) { float:left; }
	.col-xs-4:not(.col-right) { float:left; }
	.col-xs-5:not(.col-right) { float:left; }
	.col-xs-6:not(.col-right) { float:left; }
	.col-xs-7:not(.col-right) { float:left; }
	.col-xs-8:not(.col-right) { float:left; }
	.col-xs-9:not(.col-right) { float:left; }
	.col-xs-10:not(.col-right) { float:left; }
	.col-xs-11:not(.col-right) { float:left; }
	.col-xs-12:not(.col-right) { float:left; }
	.col-sm-1:not(.col-right) { float:left; }
	.col-sm-2:not(.col-right) { float:left; }
	.col-sm-3:not(.col-right) { float:left; }
	.col-sm-4:not(.col-right) { float:left; }
	.col-sm-5:not(.col-right) { float:left; }
	.col-sm-6:not(.col-right) { float:left; }
	.col-sm-7:not(.col-right) { float:left; }
	.col-sm-8:not(.col-right) { float:left; }
	.col-sm-9:not(.col-right) { float:left; }
	.col-sm-10:not(.col-right) { float:left; }
	.col-sm-11:not(.col-right) { float:left; }
	.col-sm-12:not(.col-right) { float:left; }
	.col-md-1:not(.col-right) { float:left; }
	.col-md-2:not(.col-right) { float:left; }
	.col-md-3:not(.col-right) { float:left; }
	.col-md-4:not(.col-right) { float:left; }
	.col-md-5:not(.col-right) { float:left; }
	.col-md-6:not(.col-right) { float:left; }
	.col-md-7:not(.col-right) { float:left; }
	.col-md-8:not(.col-right) { float:left; }
	.col-md-9:not(.col-right) { float:left; }
	.col-md-10:not(.col-right) { float:left; }
	.col-md-11:not(.col-right) { float:left; }
	.col-md-12:not(.col-right) { float:left; }
	.col-lg-1:not(.col-right) { float:left; }
	.col-lg-2:not(.col-right) { float:left; }
	.col-lg-3:not(.col-right) { float:left; }
	.col-lg-4:not(.col-right) { float:left; }
	.col-lg-5:not(.col-right) { float:left; }
	.col-lg-6:not(.col-right) { float:left; }
	.col-lg-7:not(.col-right) { float:left; }
	.col-lg-8:not(.col-right) { float:left; }
	.col-lg-9:not(.col-right) { float:left; }
	.col-lg-10:not(.col-right) { float:left; }
	.col-lg-11:not(.col-right) { float:left; }
	.col-lg-12:not(.col-right) { float:left; }
	.col-xs-1.col-right { float:right; }
	.col-xs-2.col-right { float:right; }
	.col-xs-3.col-right { float:right; }
	.col-xs-4.col-right { float:right; }
	.col-xs-5.col-right { float:right; }
	.col-xs-6.col-right { float:right; }
	.col-xs-7.col-right { float:right; }
	.col-xs-8.col-right { float:right; }
	.col-xs-9.col-right { float:right; }
	.col-xs-10.col-right { float:right; }
	.col-xs-11.col-right { float:right; }
	.col-xs-12.col-right { float:right; }
	.col-sm-1.col-right { float:right; }
	.col-sm-2.col-right { float:right; }
	.col-sm-3.col-right { float:right; }
	.col-sm-4.col-right { float:right; }
	.col-sm-5.col-right { float:right; }
	.col-sm-6.col-right { float:right; }
	.col-sm-7.col-right { float:right; }
	.col-sm-8.col-right { float:right; }
	.col-sm-9.col-right { float:right; }
	.col-sm-10.col-right { float:right; }
	.col-sm-11.col-right { float:right; }
	.col-sm-12.col-right { float:right; }
	.col-md-1.col-right { float:right; }
	.col-md-2.col-right { float:right; }
	.col-md-3.col-right { float:right; }
	.col-md-4.col-right { float:right; }
	.col-md-5.col-right { float:right; }
	.col-md-6.col-right { float:right; }
	.col-md-7.col-right { float:right; }
	.col-md-8.col-right { float:right; }
	.col-md-9.col-right { float:right; }
	.col-md-10.col-right { float:right; }
	.col-md-11.col-right { float:right; }
	.col-md-12.col-right { float:right; }
	.col-lg-1.col-right { float:right; }
	.col-lg-2.col-right { float:right; }
	.col-lg-3.col-right { float:right; }
	.col-lg-4.col-right { float:right; }
	.col-lg-5.col-right { float:right; }
	.col-lg-6.col-right { float:right; }
	.col-lg-7.col-right { float:right; }
	.col-lg-8.col-right { float:right; }
	.col-lg-9.col-right { float:right; }
	.col-lg-10.col-right { float:right; }
	.col-lg-11.col-right { float:right; }
	.col-lg-12.col-right { float:right; }
}