{% extends "base.html" %}

{% block description %}회원 가입 페이지 입니다.{% endblock %}
{% block title %}Sign Up - D.Com{% endblock %}
{% block css %}<link rel="stylesheet" href="/static/css/signup.css">{% endblock %}
{% block scripts %}<script src="/static/js/signup.js"></script>{% endblock %}

{% block contents %}
	<div class="content">
			<div class="banner sub-banner">
				<ul>
					<li style="background-image:url('/static/img/signin.jpg');">
						<div class="container">
							<div class="banner-content">
								<div class="banner-subject">
									Sign Up
								</div>
								<div class="banner-description">
									D.Com에 오신 것을 환영합니다.
								</div>
							</div> <!-- banner-content -->
							<div class="banner-icon hidden-xs">
							</div>
						</div> <!-- container -->
					</li>
				</ul>
			</div> <!-- banner -->

		<!-- 여기 위까지 header 파일로 분리하면 됩니다. -->

			<!-- /skin/member/signup/signup2.skin.html 파일 내용과 동일 -->
			<div class="signup">
				<div class="container">
					<form action="#link-signup-result" class="classic-form" method="post">
                        {% csrf_token %}
						<div class="form-box">
							<label for="id" class="required">
								아이디
							</label>
							<input type="text" id="id" name="userId" required>
						</div>
						<div class="form-box">
							<label for="password" class="required">
								비밀번호
							</label>
							<input type="password" id="password" name="password" required>
						</div>
						<div class="form-box">
							<label for="password2" class="required">
								비밀번호 확인
							</label>
							<input type="password" id="password2" name="password2" required>
						</div>
						<div class="row">
							<div class="col-sm-6 form-box form-padding">
								<label for="first_name" class="required">
									성
								</label>
								<input type="text" id="first_name" name="first_name" required>
							</div>
							<div class="col-sm-6 form-box form-padding">
								<label for="last_name" class="required">
									이름
								</label>
								<input type="text" id="last_name" name="last_name" required>
							</div>
						</div> <!-- row -->
						<div class="form-box">
							<label for="email" class="required">
								이메일
							</label>
							<input type="email" id="email" name="email" required>
						</div>
						<div class="row">
							<div class="col-sm-6 form-box form-padding">
								<label for="stuNo" class="required">
									학번 (예:19)
								</label>
								<input type="number" id="stuNo" name="stuNo" required>
							</div>
							<div class="col-sm-6 form-box form-padding">
								<label for="phoneNum" class="required">
									전화번호 (-제외)
								</label>
								<input type="number" id="phoneNum" name="phoneNum" required>
							</div>
						</div> <!-- row -->
						<div class="form-box">
							<label for="github">
								Github 주소
							</label>
							<input type="text" id="github" name="github">
						</div>
						<div class="row form-bottom">
							<div class="col-sm-3 col-right button-box">
								<button class="btn btn-blue">회원가입</button>
							</div>
						</div>
					</form>
				</div> <!-- container -->
			</div> <!-- signup -->
{% endblock %}