{% extends "base-with-banner.html" %}

{% block description %}{{ board_subtitle }}{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/css/board_write.css">
    <link rel="stylesheet" href="/static/css/dropzone.css">
{% endblock %}
{% block scripts %}
    <script src="/static/js/jquery.dropzone.js"></script>
    <script src="/static/js/board_write.js"></script>
{% endblock %}


{% block boardImg %}'/static/img/signin.jpg'{% endblock %}
{% block boardTitle %}{{ board_title }}{% endblock %}
{% block boardSubTitle %}{{ board_subtitle }}{% endblock %}

{% block contents %}
    <div class="board-write">
        <div class="container">
            <form action="/post/{{ board }}/write/" method="post" enctype="multipart/form-data" class="classic-form write-form">
                {% csrf_token %}
                <div class="form-box">
                    <select name="tag" class="bordered inline">
                        <option value="교과">교과</option>
                        <option value="데이터">데이터</option>
                        <option value="프론트">프론트</option>
                        <option value="백">백</option>
                        <option value="기타">기타</option>
                    </select>
                </div>
                <div class="form-box">
                    <div class="col-sm-6">
                        <input type="text" name="start_date" class="bordered datepicker" required placeholder="시작일">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" name="end_date" class="bordered datepicker" required placeholder="종료일">
                    </div>
                </div>
                <div class="form-box">
                    <input type="text" name="time" class="bordered" required placeholder="스터디 시간을 입력해주세요">
                </div>
                <div class="form-box">
                    <input type="text" name="subject" class="bordered" required placeholder="제목을 입력해주세요">
                </div>
                <div class="form-box">
                    {{ form.media }}
                    {{ form.as_p }}
                </div>
                <div class="form-box dropzone" id="dropzone"></div>
                <div class="form-box buttons">
                    <button type="submit">작성</button>
                </div>
            </form>
        </div> <!-- container -->
    </div> <!-- board-view -->
{% endblock %}